@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

body, ul, li, p {
 /*   margin: 0px;
    padding: 0px;*/
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a { /*logo*/
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    /*background-color: salmon;*/
}

h2 {
    text-align: center;
    margin-top: 0px;
    font-size: 60px;
    padding-top: 50px;
}

.hero-image{
    background-image: url("images/background-origin.jpg");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
}
.hero-text {  /*h1*/
    text-align: center;
    font-size: 32px;
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: linear-gradient(to right, white, #115D8C 60%);
    align-items: center;
    padding: 10px 10px 10px 20px;    
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #222;
}
.menu ul {
    list-style: none;
    position: relative;

}
.menu ul li {
    width: 150px;
    float: left;
    
}
.menu ul li img {
    /*width: 20px;*/
    height: 15px;
    padding: 5px;
}

.menu a {
    font-family: Arial, Helvetica, sans-serif;
    /*padding: 30px;*/
    display: flex;
    justify-content: center;
    align-items: center;
 /*   text-decoration: none;
    text-align: center;*/
    background-color: #222;
    font-size: 14px;
    
}

label[for="bt_menu"] {
    padding: 0px;
    background-color: #222;
    color: white;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    width: 50px;
    height: 50px;   
}
#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
}


@media (max-width: 800px) {
    label[for="bt_menu"] {
        display: block;
    }

    #bt_menu:checked ~ * .menu {
       margin-left: 0;
       /*position: relative;*/
    }
   
    .menu{
        margin-left: -100%;
        transition: all .4s; 
       /* padding-top: 90px;
        padding-bottom: 50px;*/
    }
    .menu ul {
        width: 100%;
    }

    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul li a {
        /*padding-top: 80px;*/
    }
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 /*   padding-bottom: 20px;*/
    /*background-color: rgb(236, 144, 232);*/
    margin: 0;
}

.container-1 div {
    /*background-color: red;*/
    display: block;
    text-align: center;
    margin: 10px;
}
.container-1 div img {
    max-width: 300px;   /*Size of the images on "serviços"*/
    display: block;
    margin: 20px;
}

/*Saiba mais buttons*/
.buttons_saibamais {
    display: inline-block;
    text-align: center;
    background-color: #115D8C;
    margin: 10px;
    padding: 10px 40px;
    border-radius: 20px;
}

.buttons_saibamais a {
    text-decoration: none;
    color: #F2F2F2;
    font-size: 16px;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(195, 195, 236);*/
    flex-direction: row-reverse;
    /*padding: 50px;*/
    margin: 0;
}
.container-2 div {
    display: block;
    text-align: justify;
    padding: 0px 20px;
    width: 400px;
}
.container-2 img {
    display: block;
    max-width: 400px;
    margin: 30px;
}

.container-3 {
    background: #115D8C;
    text-align: center;
    /*padding: 50px;*/
    margin: 0;
}
.container-3 li {
    display: inline-block;
    font-size: 20px;
    padding: 40px 60px 40px 60px;
    color: #F2F2F2;
}

.container-4 {
    /*background: chartreuse;*/
    text-align: center;
    /*padding: 50px;*/
    margin: 0;
}

footer p {
    font-size: 12px;
    text-align: center;
    /*background-color: #F2F2F2;*/
    margin: 5px;
}