@charset "UTF-8";

:root {
    --cor0: #F2F2F2;
    --cor1: #F2059F;
    --cor2: #BF1B86;
    --cor3: #0367A6;
    --cor4: #145E8C;
    --cor5: #000;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-texto: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-texto-size: 18px;
    --fonte-titles:  Arial, Verdana, Helvetica, sans-serif;
    
    
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

html {
    scroll-behavior: smooth;
  }

/*body, ul, li, p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}*/

a { /*logo*/
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    /*background-color: salmon;*/
}

h1 {
    font-family: var(--fonte-titles);
    font-size: 70px;
}
h2 {
    font-family: var(--fonte-titles);
    text-align: center;
    margin-top: 0px;
    font-size: 50px;
    padding: 50px 0px 30px 0px;
}

.hero-image{
    background-image: url("images/background-origin.jpg");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
}
.hero-text {  /*h1*/
    text-align: center;
    font-size: 32px;
    color: var(--cor5);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--cor0), var(--cor4) 70%);
    align-items: center;
    padding: 10px 10px 10px 20px;    
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;       /*Height of the header*/
    /*background: #222;*/
}
.menu ul {
    list-style: none;
    position: relative;
    
}
.menu ul li {
    width: 115px;
    float: left;
    
}
.menu ul li img {
    /*width: 20px;*/
    height: 15px;
    padding: 5px;
}

.menu ul li a {
   /* font-family: var(--fonte-menu);*/
    /*padding: 30px;*/
    display: block;
 /*   justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    text-align: center;*/
    /*background-color: #222;*/
    font-size: 14px; 
    text-align: center;
    
}

.menu ul li a div {
    display: block;
    /*background-color: red;*/
}

.menu a:hover {
    /*background-color: var(--cor0);*/
    color: var(--cor1);
}

label[for="bt_menu"] {
    padding: 22px 0px;
    background-color: var(--cor4);
    color: var(--cor0);
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    /*height: 95px; */
    
}
#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
    float: right;
}


@media (max-width: 800px) {
    label[for="bt_menu"] {
        display: block;
        
    }

    #bt_menu:checked ~ * .menu {
       margin-left: 0;
       height: 300px;
    }

    #bt_menu:checked ~ label[for="bt_menu"] {
        height: 290px; 
    }
   
    .menu {
        margin-left: 100%;
        transition: all .4s; 
        max-width: 100%;
        overflow: hidden;
        
    }
    .menu ul {
        width: 100%;
    }

    .menu ul li {
        width: 100%;
        float: none;
        padding: 10px;
    }
}
/*
@media (max-width: 420px) {
    label[for="bt_menu"] {
        display: none;
    }

}*/

.container-serviços h2 {
    display: inline;
}

.container-serviços {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 /*   padding-bottom: 20px;*/
    /*background-color: rgb(236, 144, 232);*/
    margin: 0;
}

.container-serviços div {
    /*background-color: red;*/
    display: block;
    text-align: center;
    margin: 10px;
}
.container-serviços div img {
    max-width: 300px;   /*Size of the images on "serviços"*/
    display: block;
    margin: 20px;
}

/*Saiba mais buttons*/
.buttons_saibamais {
    display: inline-block;
    text-align: center;
    background-color: var(--cor4);
    margin: 10px;
    padding: 10px 40px;
    border-radius: 20px;
}

.buttons_saibamais a {
    text-decoration: none;
    color: var(--cor0);
    font-size: 16px;
}

#section-quem-somos {
    background-color: var(--cor0);
    margin-top: 60px;
}

.container-quem-somos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--cor0);
    flex-direction: row-reverse;
    margin: 0;
    padding: 0px;
}
.container-quem-somos div {
    display: block;
    text-align: justify;
    padding: 0px 20px;
    width: 400px;
}
.container-quem-somos img {
    display: block;
    max-width: 400px;
    margin: 30px;
}
.container-quem-somos p {
    font-family: var(--fonte-texto);
    font-size: var(--fonte-texto-size);
    padding-bottom: 20px;
}

#section-clients {
    background-color: var(--cor0);
}

.container-clients {
    background: var(--cor0);
    text-align: center;
    /*padding: 50px;*/
    margin: 0;
}
.container-clients li {
    display: inline-block;
    font-size: 20px;
    padding: 40px 60px 40px 60px;
    color: var(--cor5);
}

.container-contact {
    /*background: chartreuse;*/
    font-family: var(--fonte-texto);
    text-align: center;
    /*padding: 50px;*/
    margin: 0;
}

.container-contact p {
    font-family: var(--fonte-texto);
    font-size: var(--fonte-texto-size);
}

.container-refs {
    text-align: center;
    background-color: var(--cor4);
}

.container-refs li {
    display: inline-block;
    text-align: center;
    color: var(--cor0);
    font-size: 60px;
    font-weight: bold;
    padding: 20px 20px;
    margin: 20px 40px;
    width: 130px;
    font-family: var(--fonte-titles);
    /*background-color: red;*/
}
.container-refs p {
    font-size: 25px;
    text-align: center;
    font-family: var(--fonte-titles);
    font-weight: normal;
}

footer p {
    font-size: 12px;
    text-align: center;
    /*background-color: #F2F2F2;*/
    margin: 5px;
}