@charset "UTF-8";

#section-quem-somos {
    background-color: var(--cor0);
    margin-top: 0px;
}

#section-quem-somos-2 {
    background-color: var(--cor0);
}

.container-quem-somos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--cor0);
    flex-direction: row-reverse;
    padding: 20px;
}
.container-quem-somos div {
    display: block;
    text-align: justify;
    padding: 0px 20px;
    width: 400px;
}
.container-quem-somos img {
    display: block;
    max-width: 100%;
    margin: 30px;
}
.container-quem-somos p {
    font-family: var(--fonte-texto);
    font-size: var(--fonte-texto-size);
    padding-bottom: 20px;
}
