@charset "UTF-8";

#section-clients {
    background-color: white;
}

.container-clients {
    background: white;
    text-align: center;
    /*padding: 50px;*/
    margin: 0;
}

.container-clients li {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 40px;
    /*color: var(--cor5);*/
    /*background-color: red;*/
    /*height: 250px;*/
    
    
}

.img-logo {
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}