@charset "UTF-8";

.container-contact {
    /*background: chartreuse;*/
    font-family: var(--fonte-texto);
    text-align: center;
    /*padding: 50px;*/
    margin: 0;
}

.container-contact p {
    font-family: var(--fonte-texto);
    font-size: var(--fonte-texto-size);
}

.map {
    width: 80%;
    height: 450px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;

}

.info2 {
    width: 500px;
    padding: 20px;
}

footer p {
    font-size: 12px;
    text-align: center;
    /*background-color: #F2F2F2;*/
    margin: 5px;
}