@charset "UTF-8";
/*
.container-serviços h2 {
    display: inline;
}*/

.container-serviços {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 /*   padding-bottom: 20px;*/
  /*  background-color: rgb(236, 144, 232);*/
    padding-bottom: 50px;
}

.img-label {
    /*padding-top: 10px;*/
    font-weight: bold;
    font-size: 20px;
}

.container-serviços div {
    /*background-color: red;*/
    display: block;
    text-align: center;
    /*margin: 10px;*/
    margin-right: 30px;
    margin-left: 30px;
}
.container-serviços div img {
    width: 300px;   /*Size of the images on "serviços"*/
    display: block;
    margin: 50px auto 10px auto;

}

/*Saiba mais buttons*/
.buttons_saibamais {
    display: inline-block;
    text-align: center;
    background-color: var(--cor4);
    margin: 10px;
    padding: 10px 40px;
    border-radius: 20px;
    color: var(--cor0);
}

.buttons_saibamais:hover {
    background-color: var(--cor0);
    font-weight: bold;
    color: var(--cor3);
}

/*
.buttons_saibamais a {
    text-decoration: none;
    color: var(--cor0);
    font-size: 16px;
}
*/


