@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

.mySlides {
    display: none;
}

img {
   width: 100%;
}

.slideshow-container {
    /*max-width: 1000px;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /*position: relative;*/
    margin: 0;
    padding: 0px;
    max-width: 800px
}

.subpages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--cor0);
    padding: 20px;
    flex-direction: row-reverse;
    text-align: center;
}

/*
.images {
    display: flex;
    max-width: 700px;
    justify-content: center;
    padding: 20px;
}


.images img {
    width: 100%;
    }
*/
.text {
    display: flex;
    padding: 20px;
    max-width: 500px;
    text-align: justify;
}

.prev, .next {
    display: flex;
    cursor: pointer;
    flex-basis: 20px;
    align-items: center;
    padding: 10px;
    font-size: 30px; 
    user-select: none;
}
